<div class="container" ng-controller="SettingsCtrl">
  <h3>Settings</h3>
  {{settingsPage.title}}
  <app-highlight></app-highlight><br />
  <div app-highlight=""></div>
  <div class="app-highlight"></div>
</div>
