<div
  class="container"
  ng-controller="TasksCtrl"
  ng-if="currentPage.name === 'tasks'"
  ng-cloak
>
  <div class="row" ng-controller="TasksCtrl">
    <div class="col">
      <div>
        <label for="filter-name">Szukaj produktu</label>
        <input
          class="filter-name"
          ng-model="query"
          value="1000"
          ng-on-keyup="filterByName(tasks)"
        />
      </div>
      <!-- .list-group>.list-group-item*3{$.Task $$} -->
      <div class="list-group">
        <div
          class="list-group-item"
          ng-class="{
        'active': item.id == activeTask.id, 
          'textDecoration': item.completed
      }"
          ng-click="select(item)"
          ng-repeat="item in filterTasks"
        >
          <input type="checkbox" />
          <span> {{$index+1}}. {{item.name}}</span>
          <button type="button" class="btn btn-success" ng-click="addTask()">
            +
          </button>
          <button type="button" class="btn btn-danger" ng-click="removeTask()">
            -
          </button>
        </div>
        <div>
          <div class="table">
            <table>
              <thead>
                Licznik zadan
              </thead>
              <tr>
                <td>Zakonczone</td>
                <td>Aktywne</td>
              </tr>
              <tr>
                <td>{{summary(filterTasks)}}</td>
                <td>{{filterTasks.length-summary(filterTasks)}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <dl>
        <dt>Name</dt>
        <dd>{{activeTask.name}}</dd>
        <dt>Completed</dt>
        <dd>{{activeTask.completed?'yes':'no'}}</dd>
      </dl>
      <button class="btn btn-info" ng-click="edit()">Edit</button>

      <form ng-show="mode === 'edit' ">
        <!-- .form-group>label{Name}+input.form-control -->
        <div class="form-group mb-3">
          <label for="task_name">Name</label>
          <input
            id="task_name"
            type="text"
            class="form-control"
            ng-model="newTask.name"
          />
        </div>
        <div class="form-group mb-3">
          <label for="task_completed">
            <input
              id="task_completed"
              type="checkbox"
              ng-model="newTask.completed"
            />
            Completed</label
          >
        </div>
        <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
        <button class="btn btn-info" ng-click="save()">save</button>
      </form>
    </div>
  </div>
</div>
