<div
  class="container"
  ng-controller="UsersPageCtrl"
  ng-if="currentPage.name === 'users'"
>
  <div class="row">
    <div class="col-5">
      <h4>Users List</h4>
      <div
        class="list-group"
        ng-class="{
              'active': user.id == selectUser.id, 
                'textDecoration': item.completed
            }"
        ng-repeat="user in usersPage.users"
        ng-click="usersPage.select(user.id)"
      >
        <span>{{$index+1}}.{{user.username}}</span>
      </div>
    </div>
    <div class="col-5" ng-if="usersPage.selected">
      <h4>Selected user details</h4>
      <dl>
        <dt>Nazwa</dt>
        <dd>{{usersPage.selectUser.username}}</dd>
      </dl>
      <button class="btn btn-info" ng-click="edit = true">Edit</button>
      <form
        ng-controller="usersFormCtrl"
        ng-if="usersPage.selected && edit"
        name="usersPage.form"
        novalidate
      >
        <div class="form-group mb-3">
          <label for="name">Name</label>
          <input
            id="name"
            type="text"
            name="name"
            class="form-control"
            ng-model="usersPage.selectUser.username"
            required
            minlength="3"
          />
          <div
            ng-if="usersPage.form['name'].$dirty ||
              usersPage.form['name'].$touched ||
              usersPage.form['name'].$submitted"
          >
            <p
              class="text-danger"
              ng-if="usersPage.form['name'].$error.required"
            >
              Name is required
            </p>
            <p
              class="text-danger"
              ng-if="usersPage.form['name'].$error.minlength"
            >
              too short! need more than 3
            </p>
          </div>
        </div>
        <!-- <pre>{{usersPage.form | json:2}}</pre> -->
        <button class="btn btn-danger" ng-click="edit = false">Cancel</button>
        <button class="btn btn-info" ng-click="usersPage.save()">save</button>
      </form>
    </div>
  </div>
</div>
