
<div class="container">
  <users-page></users-page>
</div>

<!-- <div class="container" ng-controller="UserCtrl as myProfileCtrl">
  <div class="container" ng-controller="UserCtrl as friendCtrl"
  ng-init="friendCtrl.setFriend(f)"
  ng-repeat="f in myProfileCtrl.friends"> -->


<!-- <div class="container" ng-controller="UsersPageCtrl as usersPage">
  <div class="row">
    <div class="col-5">
      <h4>Users List</h4>

      <p class="alert alert-info" ng-if="usersPage.message">{{usersPage.message}}</p>

      <button ng-click="usersPage.create()">Create new</button>
      <button ng-click="usersPage.refresh()">Refresh</button>
      <div class="list-group">
        <div class="list-group-item" ng-repeat="user in usersPage.users track by user.id"
          ng-click="usersPage.select(user.id)" ng-class="{'active':user.id == usersPage.selected.id}">
          {{$index+1}}. {{user.name}}
          <small>{{user.email}}</small>
        </div>
      </div>

    </div>
    <div class="col-5" ng-if="usersPage.selected && usersPage.mode == 'details'">
      <h4>User details</h4>
      <dl>
        <dt>Name</dt>
        <dd>{{usersPage.selected.name}}</dd>
        <dt>E-mail</dt>
        <dd>{{usersPage.selected.email}}</dd>
      </dl>
      <button ng-click="usersPage.edit()">Edit</button>
    </div>
    <form name="usersPage.userForm" class="col-5" novalidate ng-submit="usersPage.save()"
      ng-if="usersPage.selected && usersPage.mode == 'edit'">
      <h4>Edit user </h4>
      <div class="form-group mb-4">
        <label for="">Name</label>
        <input type="text" class="form-control" ng-model="usersPage.draft.name" name="name" required minlength="3">
        <div
          ng-if="usersPage.userForm['name'].$dirty || usersPage.userForm['name'].$touched || usersPage.userForm.$submitted">
          <p class="text-danger" ng-if="usersPage.userForm['name'].$error.minlength">Name is too short!</p>
          <p class="text-danger" ng-if="usersPage.userForm['name'].$error.required">Name is required!</p>
        </div>
      </div>
      <div class="form-group mb-4">
        <label for="">Email</label>
        <input type="email" class="form-control" ng-model="usersPage.draft.email" name="email" required>

        <div
          ng-if="usersPage.userForm['email'].$dirty || usersPage.userForm['email'].$touched || usersPage.userForm.$submitted">
          <p class="text-danger" ng-if="usersPage.userForm['email'].$error.required">Email is required !</p>
          <p class="text-danger" ng-if="usersPage.userForm['email'].$error.email">Email invalid !</p>
        </div>
      </div>
      <button class="btn btn-success" type="submit">Save</button>

      <pre>{{usersPage.form | json:2}}</pre>

    </form>
  </div>
</div> -->

<!-- 
<script type="text/ng-template" id="user-details.tpl.html">
  <h4>User details</h4>
  <dl>
    <dt>Nazwa</dt>
    <dd>{{usersPage.selected.username}}</dd>
  </dl>
  <button ng-click="usersPage.edit()">Edit</button>
</script> -->