<div ng-controller="CircleAndCrossPageCtrl" class = "create-field">
  <div class="grid-container" ng-click="circleAndCrossPage.userMove($index)" ng-repeat="field in circleAndCrossPage.fields">
    <div class="grid-item">{{field.sign}}</div>
  </div>
</div>
