<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="node_modules/bootstrap/dist/css/bootstrap.css"
    />
    <link rel="stylesheet" href="node_modules/angular/angular-csp.css" />
    <script src="node_modules/angular/angular.js" defer></script>
    <script src="src/games/gamesService.js" defer></script>
    <script src="src/games/circle&cross.js" defer></script>
    <script src="src/users/usersService.js" defer></script>
    <script src="src/users/users.js" defer></script>
    <script src="src/app.js" defer></script>
    <script src="src/index.js" defer></script>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body ng-controller="AppCtrl">
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
      <div class="container">
        <a class="navbar-brand" href="#">Navbar</a>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item" ng-repeat="page in pages">
              <a class="nav-link" ng-click=" goToPage(page.name) "
                >{{page.label}}</a
              >
            </li>
          </ul>
          <div class="ms-auto navbar-text">
            <span>Welcome {{ user.name }}, <a>Login</a></span>
          </div>
        </div>
      </div>
    </nav>
    <div ng-include="currentPage.url"></div>
  </body>
</html>
