.grid-container {
  display: inline-grid;
  background-color: #2196f3;
  padding: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 53px;
  text-align: center;
  min-height: 100px;
  min-width: 100px;
}

.create-field {
  width: 360px;
  margin: 0 auto;
}
